header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.img-Header-1{
 background-color: brown;
 border: 3px solid #000;
 height: 50px;
 width: 420px;
 
}
 .img-Header-3{
    background-color: rgb(167, 204, 204);
    border: 3px solid #000;
    height: 50px;
    width: 420px;
   }
.img-Header-2{
    background-color: rgb(161, 42, 165);
    border: 3px solid #000;
    height: 50px;
    width: 420px;
   }
section{
 display: flex;
 margin: 10px 0;
 justify-content: space-around;
 justify-content: center;
 
   }
.s-p-1{
    width: 550%;
    height: 50px;
    background-color: brown;
    border: 3px solid #000;
}
.s-p-2{
    width: 550%;
    height: 50px;
    background-color: rgb(52, 165, 42);
    margin: 0px 8px;
    border: 3px solid #000;
    
}

.products{
    width: 900px;
    height: 400px;
    
    margin: 40px 180;
    display: flex;
    border: 10px solid #000;
}
.I-P{
    position: relative;
    top: 10px;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
    margin: 10px  12px;
}
.img-p-1{
    background-color: rgb(167, 204, 204);
    border: 3px solid #000;
   height: 120px;
    width:220px;
    border-radius: 2px #fff;
}
.img-p-2{
    background-color: rgb(86, 143, 90);
    border: 3px solid #000;
    height: 90px;
    width: 220px;
}
.img-p-3{
    background-color: rgb(204, 167, 196);
    border: 3px solid #000;
    height: 120px;
    width: 220px;
}
.P-Baner{
    position: relative;
    top: 26px;
    left: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 3px solid #000;
    height: 350px;
    width: 350px;
    background-color: chocolate;
}
.PImg{
    position: relative;
    top: 10px;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
    margin: 50px  40px;
}
.img-p-11{
    background-color: rgb(167, 204, 204);
    border: 3px solid #000;
   height: 140px;
    width:220px;
    border-radius: 2px #fff;
}
.img-p-22{
    background-color: rgb(86, 143, 90);
    border: 3px solid #000;
    height: 140px;
    width: 220px;
}